<p>
  <%= link_to '[x]', [destination.route, destination],
             :confirm => 'Are you sure?',
             :method => :delete %>
  <b><%= destination.name %> - </b> 
  <b>ID:</b>
  <%= destination.destID %>
</p>