<div id="destContainer">
  <div class="destName">
    <%= link_to '[x]', [destination.route, destination],
             :confirm => 'Are you sure?',
             :method => :delete %>

    <b><%= destination.name %></b> 
  </div>
  <div style="display: block; clear: both;"></div>
</div>